:root{
    --bg-color: rgb(0, 10, 7);
    --bg-color-button : rgb(192, 255, 150);
    --border-color : rgb(115, 230, 21);


}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 63%;
}

body{
    background-color: var(--bg-color);
    font-family: 'Play', sans-serif;
    color: goldenrod;
}

button:hover{
    cursor: pointer;
}

header{
    
    top: 0;
    width: auto;
}


.header--list{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
}

.header--list img{
    height: 20px;
}

.header--button{
    
    width: 80px;
    height: 40px;
    background-color: var(--bg-color-button);
    border: 2px solid var(--border-color);
    border-radius: 0px 0px 45px 45px;
    color: rgb(0, 0, 0);
    font-size: x-large;
    
}

main{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(33%);
}

.hero{
    text-align: center;
    width: 100%;
}

.hero--title{
    font-size: 5.1rem;
    margin-top: -100px;
}

.hero--buttons button{
    padding: 6px 12px;
    margin: 33px 12px 0px 12px;
    border-radius: 12px;
    background-color: var(--bg-color-button);
    border-color: var(--border-color);
}

.hero--time{
    font-size: 9rem;
}

#hundredths{
    font-size: 3rem;
}